<div class="container">
  <h1>Scopri il tuo codice fiscale</h1>
  <form [formGroup]="fiscalCodeForm" (ngSubmit)="submit()">
    <input class="myInput" type="text" id="cognome" formControlName="cognome" placeholder="Cognome">
    <span class="error" *ngIf="fiscalCodeForm.controls['cognome'].errors && fiscalCodeForm.controls['cognome'].touched">Selezionare un cognome</span>
    <input class="myInput" type="text" id="nome" formControlName="nome" placeholder="Nome">
    <span class="error" *ngIf="fiscalCodeForm.controls['nome'].errors && fiscalCodeForm.controls['nome'].touched">Selezionare un nome</span>
    <input class="myInput" type="date" id="dateBirth" formControlName="dateBirth" placeholder="Data di nascita">
    <span class="error" *ngIf="fiscalCodeForm.controls['dateBirth'].errors && fiscalCodeForm.controls['dateBirth'].touched">Selezionare una data di nascita</span>
    <div class="sessoDiv">
      <label for="male">M</label>
      <input class="myCheckbox" type="checkbox" id="male" [checked]="male" id="male" [(ngModel)]="male" formControlName="male">
      <label for="female">F</label>
      <input class="myCheckbox" type="checkbox" id="female" [checked]="female" formControlName="female" [(ngModel)]="female">
    </div>
    <div class="comuneNascita">
      <!-- <div class="input">
        <input class="myInput" type="number" placeholder="Cap" id="cap" formControlName="cap">
        <div class="errors">
          <span *ngIf="fiscalCodeForm.controls['cap'].errors && fiscalCodeForm.controls['cap'].touched">Inserire il CAP</span>
          <span *ngIf="capError">Comune non trovato</span>
        </div>
      </div> -->
      <select class="province" name="province" id="province" formControlName="provincia" (change)="selectProvince(fiscalCodeForm.controls['provincia'].value)">
        <option value="" selected disabled hidden>Scegli la provincia</option>
        <option *ngFor="let prov of province" (click)="selectProvince(prov)" [ngValue]="prov">{{prov}}</option>
      </select>
      <ejs-autocomplete [dataSource]="comuniAutoComplete" [fields]="dataFields" formControlName="comune" (select)="selectCity($event)" placeholder="Seleziona un comune"></ejs-autocomplete>
      <!-- <input class="myInput" type="text" placeholder="Comune" id="cap" formControlName="comune">
      <div class="errors">
        <span *ngIf="fiscalCodeForm.controls['cap'].errors && fiscalCodeForm.controls['cap'].touched">Inserire il comune</span> -->
      <!-- </div> -->
      <div></div>
      <!-- <button type="button" class="sendCap" (click)="sendCap()">Invia CAP</button> -->
      <!-- <select *ngIf="comuniCap.length" name="comuni" id="comuni" formControlName="comune" (change)="scegliComuneNascita()">
        <option value="" selected disabled hidden>Scegli qui</option>
        <option *ngFor="let comune of comuniCap" [ngValue]="comune">{{comune['nome']}}</option> -->
      <!-- </select> -->
    </div>
    <div *ngIf="isLoading" class="cssload-container">
      <div class="cssload-speeding-wheel"></div>
    </div>

    <div class="buttonDiv">
      <!-- fiscalCodeForm.invalid || !((!male && female) || (male && !female)) -->
      <button type="submit" [disabled]="false" [ngClass]="{disable: fiscalCodeForm.invalid || !((!male && female) || (male && !female))}">Invia</button>
    </div>
    <p>{{fiscalCode}}</p>
  </form>
</div>
