.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .tabs{
    display: flex;
    width: 50%;
    justify-content: space-around;
    background-color: #dddddd;
    height: 25px;
    border-radius: 10px 10px 0 0;
    align-items: center;
    .tab{
      width: 100%;
      text-align: center;
      height: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
      &:first-child{
        border-right: 1px solid;
        &.active{
          border-radius: 10px 0 0 0;
          background-color: #efefef;
        }
        &:hover{
          cursor: pointer;
          border-radius: 10px 0px 0 0;
          background-color: #efefef;
        }
      }
      &:last-child{
        &.active{
          border-radius: 0 10px 0 0;
          background-color: #efefef;
        }
        &:hover{
          cursor: pointer;
          border-radius: 0 10px 0 0;
          background-color: #efefef;
        }
      }
    }
  }
  form{
    background-color: #93e4ff91;
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 50px 10%;
    border-radius: 0 0 11px 11px;
    .myInput{
      height: 16px;
      margin: 10px;
      padding: 8px;
      border-radius: 7px;
      -webkit-appearance: none;
      border: 1px solid #626262;
      &:focus{
        outline: none;
      }
    }
    .myCheckbox{
      margin: 0 10px;
    }
    .comuneNascita{
      display: flex;
      height: 44px;
      margin-top: 6px;
      .input{
        display: flex;
        flex-direction: column;
        .errors{
          display: flex;
          flex-direction: column;
        }
      }
      select.province{
        border-radius: 15px;
        height: 30px;
        padding-left: 4px;
        width: 160px;
        &:focus-visible{
          outline: none;
        }
      }
    }
    .cssload-container {
      position: fixed;
      width: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(255, 255, 255, 0.7);
      z-index: 9999;
    }

    .cssload-speeding-wheel {
      content: "";
      display: block;
      position: absolute;
      left: 48%;
      top: 40%;
      width: 63px;
      height: 63px;
      margin: 0 auto;
      border: 4px solid rgb(23, 137, 231);
      border-radius: 50%;
      border-left-color: transparent;
      border-right-color: transparent;
      animation: cssload-spin 500ms infinite linear;
      -o-animation: cssload-spin 500ms infinite linear;
      -ms-animation: cssload-spin 500ms infinite linear;
      -webkit-animation: cssload-spin 500ms infinite linear;
      -moz-animation: cssload-spin 500ms infinite linear;
    }

    @keyframes cssload-spin {
      100% {
        transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    @-o-keyframes cssload-spin {
      100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    @-ms-keyframes cssload-spin {
      100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    @-webkit-keyframes cssload-spin {
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    @-moz-keyframes cssload-spin {
      100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    .buttonDiv{
      text-align: center;
      margin-top: 10px;
      button{
        background: linear-gradient(90deg, rgb(179 175 236) 0%, rgb(3 168 202) 100%);
        opacity: 0.8;
        &:not(.disable):hover{
          opacity: 1;
          color: white;
          transition: 0.3s;
        }
        &.disable{
          cursor: initial;
        }
      }
    }
    span{
      margin: -7px 0 0 12px;
    }
  }
}
