/* You can add global styles to this file, and also import other style files */

@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-dropdowns/styles/material.css';

button{
  -webkit-appearance: none;
  border: 1px solid rgba(102, 102, 102, 0.3098039216);
  border-radius: 7px;
  margin-top: 10px;
  padding: 8px 20px;
  &:hover{
    cursor: pointer;
  }
}

span{
  font-size: 15px;
  color: red;
}
